@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-ser;
  font-family: "Roboto", sans-serif;
  color: #eeeede;
  box-sizing: border-box;
}

@media screen and (min-width: 1000px) {
  .padding {
    padding-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .asideIndex {
    margin-left: 20px;
    margin-right: 0;
  }
}
.fondoNegro {
  background-image: linear-gradient(to bottom, #0D2726, #ADD84E, #0D2726);
}

.fondo1 {
  background-image: url(../assets/background2v2-min.png);
}

.fondo2 {
  background-image: url(../assets/backgroundv2-min.png);
}

header {
  margin-bottom: 30px;
}

.icon {
  height: 11.3vh;
}

footer {
  background-color: #191A19;
}
footer div a {
  margin: 15px;
  color: #eeeede;
}
footer h2 {
  padding-top: 8px;
  font-size: 18px;
  text-align: center;
}

#players div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: solid black 10px;
  border-bottom: solid black 10px;
}
#players img {
  width: 40%;
  height: 100%;
  background-image: url(../assets/backgroundsmall.jpg);
  background-color: #0D2726;
  border: solid #ADD84E 5px;
}
#players h2 {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}
#players p {
  width: 70%;
  text-align: center;
  background-color: #0D2726;
  padding: 1%;
  border: solid #ADD84E 3px;
}
#players img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1000px) {
  #players {
    display: flex;
  }
  #players div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-top: none;
    border-bottom: none;
  }
  #players img {
    width: 80%;
    height: 35rem;
    background-image: url(../assets/backgroundsmall.jpg);
    background-color: #0D2726;
    border: solid #ADD84E 5px;
  }
  #players h2 {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    background-color: black;
  }
  #players p {
    width: 95%;
    text-align: center;
    background-color: #0D2726;
    padding: 1%;
    height: 11rem;
    border: solid #ADD84E 3px;
  }
}
#sponsors div {
  border-top: solid black 20px;
}
#sponsors i {
  padding-top: 5%;
  padding-bottom: 1%;
}
#sponsors h2 {
  padding-bottom: 1%;
}
#sponsors p {
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(13, 39, 38, 0.631372549);
}

@media screen and (min-width: 1200px) {
  #sponsors {
    display: flex;
  }
  #sponsors div {
    border-top: none;
  }
  #sponsors i {
    padding-top: 5%;
    padding-bottom: 1%;
  }
  #sponsors h2 {
    padding-bottom: 1%;
  }
  #sponsors p {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(13, 39, 38, 0.631372549);
  }
}
.nosotros__staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nosotros__staff img {
  border: double white 4px;
  width: 20%;
  background-image: url(../assets/backgroundsmall.jpg);
}
.nosotros__staff h2 {
  margin: 5px;
}
.nosotros__staff p {
  width: 30%;
  text-align: center;
  background-color: rgba(13, 39, 38, 0.631372549);
  font-size: 18px;
}

.nosotros__streamers {
  text-align: center;
}
.nosotros__streamers p {
  background-color: rgba(13, 39, 38, 0.631372549);
  font-size: 18px;
}
.nosotros__streamers img {
  border: double white 4px;
  background-image: url(../assets/backgroundsmall.jpg);
}
.nosotros__streamers h2 {
  background-color: #0D2726;
  padding: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .nosotros__staff p {
    width: 55%;
  }
  .nosotros__staff img {
    width: 34%;
  }
  .nosotros__staff p {
    width: 80%;
    font-size: 16px;
  }
}
#playersTitle {
  text-align: center;
  background-color: #0D2726;
  margin-bottom: 20px;
}

.nosotros__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nosotros__center h2 {
  font-size: 40px;
  background-color: #0D2726;
  width: 100%;
  text-align: center;
}
.nosotros__center p {
  margin: 20px;
  width: 70%;
  text-align: center;
  background-color: rgba(13, 39, 38, 0.631372549);
  font-size: 18px;
}
.nosotros__center__icons {
  width: 45vw;
  height: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

#nosotros__title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  background-color: #0D2726;
}

.boton, .boton--reiniciar, .boton--enviar {
  margin: 2px;
  padding: 1px;
  background-color: #eeeede;
  color: black;
}

.boton--enviar:hover {
  background-color: rgba(172, 255, 47, 0.432);
}

.boton--reiniciar:hover {
  background-color: rgba(233, 54, 54, 0.473);
}

.index {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header header header" "a img aside" "quienes quienes quienes" "somos somos somos";
}
.index__portada {
  animation-duration: 2s;
  animation-name: appear;
  animation-iteration-count: 1;
  border: double white 4px;
  width: 100%;
  grid-area: img;
}
.index__aside {
  animation-duration: 3s;
  animation-name: appear;
  animation-iteration-count: 1;
  text-align: center;
  border: double white 4px;
  border-style: double;
  height: -moz-max-content;
  height: max-content;
  background-color: rgba(13, 39, 38, 0.631372549);
  width: 80%;
  grid-area: aside;
}
.index__somos {
  text-align: center;
  font-size: 20px;
  background-color: rgba(13, 39, 38, 0.631372549);
  grid-area: somos;
}
.index__titulo2 {
  text-align: center;
  font-size: 40px;
  margin: 10px;
  background-color: rgba(13, 39, 38, 0.631372549);
  grid-area: quienes;
}
.index__titulo1 {
  text-align: center;
  font-weight: 700;
  color: #3ea84f;
  transform: translateY(20px);
  grid-area: header;
}

@media screen and (max-width: 1000px) {
  .index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header" "img" "aside" "quienes" "somos";
  }
  .index__aside {
    animation-duration: 3s;
    animation-name: appear;
    animation-iteration-count: 1;
    text-align: center;
    border: double white 4px;
    border-style: double;
    height: -moz-max-content;
    height: max-content;
    background-color: rgba(13, 39, 38, 0.631372549);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-area: aside;
  }
}
.imgContact {
  margin-bottom: 100px;
  margin-top: 20px;
  border: double 5px #eeeede;
}

.sponsorsIcon {
  width: 10rem;
}/*# sourceMappingURL=style.css.map */