//Mixin para generar un display flex, con su direccion y sus distintos ajustes

@mixin displayFlex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}