// Style de cards de jugadores.html, mediaqueries para pantallas de menos de 1200px de ancho

#players {
    div {
        @include displayFlex(column, center, center);
        border-top: solid map-get($map: $color, $key: oscuro) 10px;
        border-bottom: solid map-get($map: $color, $key: oscuro) 10px;
    }

    img {
        width: 40%;
        height: 100%;
        background-image: url(../assets/backgroundsmall.jpg);
        background-color: map-get($map: $color, $key: secundario);
        border: solid map-get($map: $color, $key: principal) 5px;
    }

    h2 {
        margin-top: 10px;
        width: 100%;
        text-align: center;
        text-decoration: underline;
    }

    p {
        width: 70%;
        text-align: center;
        background-color: map-get($map: $color, $key: secundario);
        padding: 1%;
        border: solid map-get($map: $color, $key: principal) 3px;
    }

    img {
        &:hover {
            transform: scale(1.1);
        }
    }
}

@media screen and (min-width: 1000px) {

    #players {
        display: flex;

        div {
            @include displayFlex(column, center, center);
            width: 20%;
            border-top: none;
            border-bottom: none;
        }

        img {
            width: 80%;
            height: 35rem;
            background-image: url(../assets/backgroundsmall.jpg);
            background-color: map-get($map: $color, $key: secundario);
            border: solid map-get($map: $color, $key: principal) 5px;
        }

        h2 {
            margin-top: 10px;
            width: 100%;
            text-align: center;
            text-decoration: underline;
            background-color: map-get($map: $color, $key: oscuro);
        }

        p {
            width: 95%;
            text-align: center;
            background-color: map-get($map: $color, $key: secundario);
            padding: 1%;
            height: 11rem;
            border: solid map-get($map: $color, $key: principal) 3px;
        }
    }
}

//Style de las cards de sponsors.html, mediaqueries para pantallas con menos de 1200px de ancho

#sponsors {
    div {
        border-top: solid map-get($map: $color, $key: oscuro) 20px;
    }

    i {
        padding-top: 5%;
        padding-bottom: 1%;
    }

    h2 {
        padding-bottom: 1%;
    }

    p {
        margin-left: 5%;
        margin-right: 5%;
        background-color: map-get($map: $color, $key: fondo);
    }
}

@media screen and (min-width: 1200px) {
    #sponsors {
        display: flex;

        div {
            border-top: none;
        }

        i {
            padding-top: 5%;
            padding-bottom: 1%;
        }

        h2 {
            padding-bottom: 1%;
        }

        p {
            margin-left: 5%;
            margin-right: 5%;
            background-color: map-get($map: $color, $key: fondo);
        }
    }
}

//Style de cards de sobreNosotros.html, con mediaqueries haciendo responsive para pantallas de menos de 1200px
//Está pendiente aplicar BEM

.nosotros__staff {
    @include displayFlex(column, center, center);

    img {
        border: $bordeBlanco;
        width: 20%;
        background-image: url(../assets/backgroundsmall.jpg);
    }

    h2 {
        margin: 5px;
    }

    p {
        width: 30%;
        text-align: center;
        background-color: map-get($map: $color, $key: fondo);
        font-size: 18px;
    }
}

.nosotros__streamers {
    text-align: center;

    p {
        background-color: map-get($map: $color, $key: fondo);
        font-size: 18px;
    }

    img {
        border: $bordeBlanco;
        background-image: url(../assets/backgroundsmall.jpg);
    }

    h2 {
        background-color: map-get($map: $color, $key: secundario);
        padding: 10px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 1200px) {
    .nosotros__staff {
        p {
            width: 55%;
        }

        img {
            width: 34%;
        }

        p {
            width: 80%;
            font-size: 16px;
        }
    }
}