footer {
    background-color: #191A19;

    div {
        a {
            margin: 15px;
            color: map-get($map: $color, $key: claro);
        }
    }

    h2 {
        padding-top: 8px;
        font-size: 18px;
        text-align: center;
    }
}