//Utiliza animacion de @animations
.portadaIndex {
    animation-duration: 2s;
    animation-name: appear;
    animation-iteration-count: 1;
    height: 100%;
    border: $bordeBlanco;
}

//Utiliza animacion de @animations
.asideIndex {
    animation-duration: 3s;
    animation-name: appear;
    animation-iteration-count: 1;
    text-align: center;
    border: $bordeBlanco;
    border-style: double;
    height: max-content;
    background-color: map-get($map: $color, $key: fondo);
}

.imgContact {
    margin-bottom: 100px;
    margin-top: 20px;
    border: double 5px map-get($map: $color, $key: claro);
}