#playersTitle {
    text-align: center;
    background-color: map-get($map: $color, $key: secundario);
    margin-bottom: 20px;
}

.nosotros__center {
    @include displayFlex(column, center, center);

    h2 {
        font-size: 40px;
        background-color: map-get($map: $color, $key: secundario);
        width: 100%;
        text-align: center;
    }

    p {
        margin: 20px;
        width: 70%;
        text-align: center;
        background-color: map-get($map: $color, $key: fondo);
        font-size: 18px;
    }

    &__icons{
        width: 45vw;
        height: auto;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    
}

#nosotros__title {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    background-color: map-get($map: $color, $key: secundario);
}