.fondoNegro {
    background-image: linear-gradient(to bottom, map-get($map: $color, $key: secundario), map-get($map: $color, $key: principal), map-get($map: $color, $key: secundario));
}

.fondo1 {
    background-image: url(../assets/Background2v2-min.png);
}

.fondo2 {
    background-image: url(../assets/Backgroundv2-min.png);
}