.fondoNegro {
    background-image: linear-gradient(to bottom, map-get($map: $color, $key: secundario), map-get($map: $color, $key: principal), map-get($map: $color, $key: secundario));
}

//Fondo de index, jugadores y contactanos
.fondo1 {
    background-image: url(../assets/background2v2-min.png);
}

//Fondo de sobreNosotros y sponsors
.fondo2 {
    background-image: url(../assets/backgroundv2-min.png);
}