.fondoNegro {
    background-image: linear-gradient(to bottom, #0D2726, #8caf3f, #0D2726);
}

.fondo1 {
    background-image: url(../assets/backgrodund2.jpg);
}

.fondo2 {
    background-image: url(../assets/Background.png);
}